@import "../shellos/current/theme/waybar.css";

* {
  background-color: alpha(@background, 0);
  color: @foreground;

  border: none;
  border-radius: 10px;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
  background-color: alpha(@background, 1);
}

.modules-right {
  margin-right: 8px;
  background-color: alpha(@background, 1);
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.3;
}

#cpu,
#battery,
#pulseaudio,
#custom-shellos,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 20px;
  padding-left: 10px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: alpha(@background, 1);
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #ff0000;
}

#custom-notification {
  margin-right: 10px;
  padding-left: 10px;
}

.audio-slider {
  padding: 0 10px;
}

slider {
  min-width: 120px;
  min-height: 12px;
  border-radius: 6px;
}

slider trough {
  min-width: 120px;
  min-height: 12px;
  background-color: #444;
  border-radius: 6px;
}

slider highlight {
  min-height: 12px;
  background-color: #eee;
  border-radius: 6px;
}

window#waybar {
  margin-top: 20px;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
}

#custom-cava {
  font-size: 9px;
  margin-right: 10px;
  font-family: "CaskaydiaCove Nerd Font";
}

#custom-spotify {
  margin-right: 10px;
  margin-left: 10px;
}

/* Fully collapse hidden Spotify module so it doesn't occupy space */
#custom-spotify.hidden {
  margin: 0;
  padding: 0;
  min-width: 0;
}